/* For backgound page header section */


.header1 {
    background-color: blueviolet;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;

}

h1 {
    font-size: 4rem;
    text-align: center;
    top: 300px;
}

/* background page  */

body,
html {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0 20px;
    text-align: center;
    justify-content: center;

}


.container2 {
    display: flex;
    margin-left: 45.7%;
    margin-top: 5%;

}



h3 {
    text-align: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(12, 79, 142);
}



#nature-list:hover {
    cursor: pointer;
    background-color: #d89b20;
}

#animals-list:hover {
    cursor: pointer;
    background-color: #d89b20
}

#computers-list:hover {
    cursor: pointer;
    background-color: #d89b20;

}

#mythology-list:hover {
    cursor: pointer;
    background-color: #d89b20;

}

#history-list:hover {
    cursor: pointer;
    background-color: #d89b20;

}

#general-list:hover {
    cursor: pointer;
    background-color: #d89b20;
}

/* Input User */

label {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-top: 20%;

}

/* Input user */

input,
label {
    margin: 0.5rem auto;
    width: 250px;
    font-size: 1rem;
}

/* table-bordered */
/* .table {
    font-size: 2rem;
    margin: auto;
    border: 2px solid yellow;
    width: 400px;
    height: 100px;
    padding: 50px;
    justify-content: center;
    text-align: center;

} */

#game-board {
    margin: 0;
    width: 500px;
}

#questions-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid white;
    padding: 10px;
    ;
}

/* catergoies  */
th,
.col {
    font-size: 4rem;
    background-color: blue;
}

/* numbers font color and size
td {
    color: deepskyblue;
    font-size: 2rem;
} */


/* Guess Button input style */
.guess {
    border: 0;
    color: white;
    font-size: 2rem;
    line-height: 2;
    border-radius: 15px;
    background-color: lightseagreen;
    background-image: -moz-linear-gradient(to top left);
    box-shadow: 1px;
    margin-top: 1%;

}

/* Pass Button input style  */
.pass {
    border: 0;
    color: white;
    font-size: 2rem;
    line-height: 2;
    border-radius: 15px;
    background-color: lightseagreen;
    background-image: -moz-linear-gradient(to top left);
    box-shadow: 1px;
    margin-top: 1%;
}

/* for the Player 1 score  */
.left {
    text-align: left;
    font-size: 2rem;
    position: absolute;
    top: 870px;
    left: 90px;
}

/* for the Player 2 secore */
.right {
    text-align: right;
    font-size: 2rem;
    position: absolute;
    top: 870px;
    right: 90px;
}

/* for the next round button */
a {
    text-decoration: none;
    outline: none;
    text-align: center;
    font-size: 2rem;
    background-color: var(--primaryHover);
    cursor: pointer;
    width: 15%;
    padding: 3px 7px;
    position: absolute;
    top: 1000px;
    right: 80px;
    margin-right: 10%;


}

a:link,
a:visited,
a:focus {
    background-color: green;
    color: blue;
}

a:hover {
    background-color: yellow;
}

a:active {
    background-color: cornflowerblue;
    color: black;
}


/* bottom page  */
.footer {
    text-align: center;
    background-color: oldlace;
    display: flex;
    font-size: 1rem;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}