 /* For backgound page header section */

 .header1 {
     background-color: blueviolet;
     height: 100px;
     text-align: center;
     align-items: center;
     font-size: 2rem;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: white;
 }


 .container4 {
     display: flex;
     margin-left: 45.7%;
     margin-top: 5%;

 }

 #game-board {
     width: 450px;
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-template-rows: repeat(6, 1fr);
     column-gap: 60px;
     font-size: 35px;
     height: 90px;
     -ms-layout-grid: auto;
     text-align: center;
     border-collapse: collapse;
     margin-left: 7rem;
 }

 .questions {
     background-color: #d89b20;
     width: 150px;
     height: 70px;
     background-color: rgb(71, 32, 198);
     border-left: solid #aaa 5px;
     border-right: solid #efb5e7 5px;
     border-top: solid #efb5ef 5px;
     border-bottom: solid #aaa 5px;
     text-align: center;
     font-size: 40px;
     margin: auto;
     padding: 0px;
     line-height: 100px;
     display: flex;
     flex-grow: 1;
     flex-basis: 0;
     grid-gap: 5px;
     text-align: center;
     justify-content: center;

 }


 .row {
     display: flex;
     flex-direction: row;
     padding: 10px 90px;
 }


 h3 {
     text-align: center;
     align-items: center;
     font-size: 2rem;
     color: rgb(12, 79, 142);
 }



 .questions:hover {
     cursor: pointer;
     background-color: #d89b20;
 }




 /* Input User */

 label {
     display: block;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: white;
     margin-top: 20%;

 }

 /* Input user */

 input,
 label {
     margin: 0.5rem auto;
     width: 300px;
     height: 50px;
     font-size: 1rem;
 }



 /* Guess Button input style */
 .guess {
     border: 0;
     color: white;
     font-size: 2rem;
     line-height: 2;
     border-radius: 15px;
     background-color: lightseagreen;
     background-image: -moz-linear-gradient(to top left);
     box-shadow: 1px;
     margin-top: 1%;

 }

 /* Pass Button input style  */
 .pass {
     border: 0;
     color: white;
     font-size: 2rem;
     line-height: 2;
     border-radius: 15px;
     background-color: lightseagreen;
     background-image: -moz-linear-gradient(to top left);
     box-shadow: 1px;
     margin-top: 1%;
 }

 /* for the Player 1 score  */
 .left {
     text-align: left;
     font-size: 2rem;
     position: absolute;
     top: 1250px;
     left: 90px;

 }

 /* for the Player 2 secore */
 .right {
     text-align: right;
     font-size: 2rem;
     position: absolute;
     top: 1250px;
     right: 90px;
 }

 /* for the next round button */
 a {
     text-decoration: none;
     outline: none;
     text-align: center;
     font-size: 2rem;
     background-color: var(--primaryHover);
     cursor: pointer;
     width: 15%;
     padding: 3px 7px;
     position: absolute;
     top: 1490px;
     right: 50px;
     margin-right: 10%;


 }

 a:link,
 a:visited,
 a:focus {
     background-color: green;
     color: blue;
 }

 a:hover {
     background-color: yellow;
 }

 a:active {
     background-color: cornflowerblue;
     color: black;
 }


 /* bottom page  */
 #footer {
     position: relative;
     bottom: 0;
     width: 100%;
     height: 60px;
     background-color: orange;
     color: white;
     text-align: center;
     align-items: center;
     display: flex;
     justify-content: center;
     font-size: 1rem;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     top: 500px;
 }


 /* The Modal (background) */
 .modal {
     display: none;
     /* Hidden by default */
     position: fixed;
     /* Stay in place */
     z-index: 1;
     /* Sit on top */
     left: 0;
     top: 0;
     width: 100%;
     /* Full width */
     height: 100%;
     /* Full height */
     overflow: auto;
     /* Enable scroll if needed */
     background-color: rgb(0, 0, 0);
     /* Fallback color */
     background-color: rgba(0, 0, 0, 0.4);
     /* Black w/ opacity */
 }

 /* Modal Content/Box
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
 /* padding: 20px;
    border: 1px solid #888;
    width: 80%; */
 /* Could be more or less, depending on screen size */
 /* } */
 */

 /* The Close Button */
 .close {
     color: #aaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
 }

 .close:hover,
 .close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
 }