.header2 {
    background-color: blueviolet;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    
}

h1 {
    font-size: 4rem;
    text-align: center;
    top: 300px;
}

body, html {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0 20px;
}

.container3 { 
    display: flex;
    margin-left: 45.7%;
    margin-top: 5%;

}



h3 {
    text-align: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(12, 79, 142);
}




label {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-top: 20%;
    
}

input, label {
    margin: 0.5rem auto;
    width: 250px;
    font-size: 2rem;
}

.table {
    font-size: 2rem;
    margin: auto;
    border: 2px solid yellow;
    width: 400px;
    height: 100px;
    padding:55px;
    
}

th, .col {
    font-size: 4rem;
    color:white;
}

td {
    color:deepskyblue;
    font-size: 2rem;
}

.guess {
    border: 0;
    color:white;
    font-size: 2rem;
    line-height: 2;
    border-radius: 15px;
    background-color: lightseagreen;
    background-image: -moz-linear-gradient(to top left);
    box-shadow: 1px;
    margin-top: 1%;

}

.pass {
    border: 0;
    color:white;
    font-size: 2rem;
    line-height: 2;
    border-radius: 15px;
    background-color: lightseagreen;
    background-image: -moz-linear-gradient(to top left);
    box-shadow: 1px; 
    margin-top: 1%;
}

.left {
    text-align: left;
    font-size: 2rem;
    position: absolute;
    top: 870px;
    left: 90px;
}

.right {
    text-align: right;
    font-size: 2rem;
    position: absolute;
    top: 870px;
    right: 90px;
}

a {
    text-decoration: none;
    outline: none;
    text-align: center;
    font-size: 2rem;
    background-color: var(--primaryHover);
    cursor: pointer;
    width: 15%;
    padding: 3px 7px;
    position: absolute;
    top: 1000px;
    right: 80px;
    margin-right: 10%;
    
    
}

a:link, a:visited, a:focus {
    background-color: green;
    color: blue;
}

a:hover {
    background-color: yellow;
}

a:active {
    background-color: cornflowerblue;
    color: black;
}

.footer {
    display: block;
    text-align: center;
    align-items: center;
    margin-top: 25%;
    font-size: 1rem;
    border: 0.5rem outset blue;
    border-radius: 2px;
    width:600px;
    padding: 2px;
    margin-left: 30%;

}